.App {
  text-align: center;
  background-color:#f0eee9;
  min-width: 100vw;
  min-height: 100vh;
  padding: 50px 150px;
  box-sizing: border-box;
}

* :focus {
    outline: 2px solid rgba(66, 135, 245, 0.6);
}
@media (max-width: 600px) { 
  .App {
    padding: 10px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

